body {
	margin: 0;
	font-family: 'Lora', serif;
	height: 100%;

	color: #333;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;

	/*Pink: #F5EAEB*/
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

.logo-name {
	max-width: 100px;
	max-height: 40px;
}

h1 { font-size: 48px; font-weight: bold; }
h2 { font-size: 32px; }
h3 { font-size: 30px; font-weight: bold; display: inline;}
h4 { font-size: 28px; font-weight: bold; display: inline;}
h5 { font-size: 20px; font-weight: bold;}


/*BUTTONS AND LINKS*/
.btn-primary {
	border-radius: 30px;
	padding: 10px 30px;
	background-color: #C63D4F;
	color: #fff;
	border-color: #C63D4F;
	font-weight: 600;
}

.btn-primary:hover {
	background-color: #C63D4F;
	color: #fff;
	border-color: #C63D4F;
	box-shadow: 2px 2px 8px #d3d3d3;
}

.btn-primary:focus { outline: none;  }

.btn-primary:active { outline: none; }

.btn-primary:visited { outline: none; }

li {
	margin: 20px 0;
}
/*END BUTTONS AND LINKS*/

/*GENERAL*/
.highlight {
	background-color: #FFEBEC;
}

.media-icon img{
	max-width: 20px;
	max-height: 20px;
}

.subtitle {
	margin: 20px 0 30px 0;
}

.grad {
	padding: 0 20px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #FFEBEC 50%, #FFEBEC 100%);
}

.main-title {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.inner-title {
	margin-bottom: 30px;
	margin-top: 100px;
}



.wireframe-text {
	color: #bdbdbd;
	font-size: 0.85rem;
}

.workshop img {
	width:100%;
	height:100%;
}

/*END GENERAL*/

/*NAV*/
.navbar {
	background: #C63D4F;
	padding: 20px 200px;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.nav-item {
	text-decoration: underline;
}

/*END NAV*/

/*SIDE NAV*/
	/* unvisited link */

	.side-nav .list-group a {
		color: #323232;
		font-size: 18px;
		padding: 5px 20px;
	}
  
	.side-nav .list-group-item.active{
		background-color: transparent; 
	}

	.side-nav .list-group .active a {
		text-decoration: none;
		color: #323232;
		background-color: #F5EAEB; 
		font-weight: 600;
		border-radius: 50px;
	}

	/* Mouse over link */
	.side-nav .list-group .active a:hover {
		text-decoration: none;
		color: #323232;
		background-color: #F5EAEB; 
		font-weight: 600;
		border-radius: 50px;
	}

	.side-nav .list-group a:hover {
		color: #323232;
		background-color: #F5EAEB; 
		text-decoration: none;
		font-weight: 600;
		border-radius: 50px;
	}

	.side-nav .list-group-item {
		border: 0px;
		padding: 5px 0;
	}

	.back-link a, a:hover {
		color: #333;
		font-weight: bold;
		font-size: 18px;
	}

	.dash {
		font-size: 24px;
		margin-right: 5px;
	}

	
/*END SIDE NAV */


/*SECTION*/
.section {
	padding: 60px 200px;
}
  
.section + .section {
	margin-top: 100px;
}

.section-content {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}

/*END SECTION*/

/*CARD*/
.card {
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 8px #d3d3d3;
	padding: 5px;
}

.col-center {
	align-self: center;
}

.card-title {
	font-size: 18px;
	font-weight: bold;
}

.card-subtitle {
	font-style: italic;
	color: #707070;
	font-size: 14px;
}

.card-grey {
	background-color: #EEEEEE;
	margin-bottom: 30px;
}

.card-pink {
	background-color: #F5EAEB;
}
/*END CARD*/


/*ABOVE THE FOLD*/
.above-the-fold img {
	height: 450px;
	width: auto;
}

.header-subtitle {
	color: #707070;
	font-size: 18px;
	margin: 10px 0;
}

.above-the-fold .media-icon {
	margin: 10px 0 30px 0;
	font-size: 14px;
	color: #707070;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #F5EAEB; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .05em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(40, end),
	  blink-caret .75s step-end infinite;
	font-size: 2em;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #C63D4F; }
  }

/*END ABOVE THE FOLD*/


/*AREA OF EXPERTISE*/

/*END AREA OF EXPERTISE*/


/*MY WORK*/
.my-work h1 {
	color: #CCCCCC;
	font-family: 'Roboto', sans-serif;
}

.my-work img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.my-work hr {
    border: none;
    height: 5px;
    color: #F5EAEB;
    background-color: #F5EAEB;
}

/*END MY WORK*/

/*GOVERNMENT SECTORS*/

.government-sectors img {
	filter: grayscale(100%);
}

/*END GOVERNMENT SECTORS*/

/*GET TO KNOW ME*/
.contact-me img {
	height: 400px;
	width: auto;
	border-radius: 20px;
}


/*END GET TO KNOW ME*/


/*FOOTER*/
.footer {
	color: #333;
	background-image: url("../images/public/homepage/christmasFooter.png");
	background-size: cover;
	padding-bottom: 120px;
}

.footer-date {
	font-size: 14px;
}
/*ENDFOOTER */


/*01 Project*/

.add-bg-colour {
	background-color: #F5EAEB;
	padding: 0.25rem 0.5rem;
	border-radius: 50px;
	text-align: center;
	margin: 4rem 0 1rem 0;
}

.mobile-video {
	width: 100%;
	height: 100%;
} 
/*End 01 Project*/


/*Back to top*/
	#backToTopBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #F5EAEB; /* Set a background color */
	color: #333; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 10px 30px; /* Some padding */
	border-radius: 30px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	border-color: #F5EAEB;
	border-color: #F5EAEB;
	font-weight: 600;
  }
  
  #backToTopBtn:hover {
	background-color: #F5EAEB;
	color: #333;
	border-color: #F5EAEB;
	box-shadow: 2px 2px 8px #d3d3d3;
  }
/*End back to top*/


/*Christmas Theme*/

	.snowflake {
		color: #fff;
		font-size: 1.25em;
		font-family: Arial, sans-serif;
		text-shadow: 0 0 5px #80B6C5;
	}

	.christmasOrnaments {
		background-image: url("../images/public/homepage/christmasOrnaments.png");
		background-size: cover;
		width: 100%;
		height: 0;
		padding-top: 64px;
	}
	

	@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
  /*End Christmas Theme*/
