/* Small devices (landscape phones, 576px and below) */
@media (max-width: 575px) { 

}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 767px) {
	.section {
		padding: 60px 50px;
		/* text-align: center; */
	}

	.prototype {
		text-align: left;
	}

	.above-the-fold img {
		height: 300px;
		width: auto;
	}

	/* .my-work img {
		margin-top: 30px;
	} */

	.contact-me img:not(.media-icon img) {
		max-height: 300px;
		width: auto;
	}

	.navbar {
		/*To remove the hamburger menu padding in desktop*/
		padding: 20px 20px;
	}

	/* .workshop {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.workshop img {
		max-width: 250px;
		height: auto;
	} */

	.project-display-img {
		margin-top:  24px;
	}

	.footer {
		padding-bottom: 120px;
	}
}

/* Large devices (desktops, 992px and below) */
@media (max-width: 991px) {

}

/* Extra large devices (large desktops, 1200px and below) */
@media (min-width: 1199px) {  }